@import "tailwindcss";

.bg-image {
  background-image: url("@/public/images/hero.png");
  background-position: center;
  background-size: cover;
}
.bg-gradient {
  background: linear-gradient(
    to right,
    rgb(108, 51, 216) 0%,
    rgb(45, 0, 143) 100%
  );
}
